@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;700&display=swap");

html,
body {
  height: 100%;
  width: 100%;
}

body {
  position: relative;
  background-image: url("/static/images/bg2.jpg");
}

.bg-img {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("/static/images/bg1.jpg") no-repeat center center fixed;
  background-size: cover;

  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.priority-high {
 background: rgb(2,0,36);
background: linear-gradient(86deg, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 0%, rgba(249,218,218,1) 80%, rgba(255,101,109,1) 100%);
}

.priority-med {
background: rgb(2,0,36);
background: linear-gradient(86deg, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 0%, rgba(246,249,218,1) 80%, rgba(241,255,101,1) 100%);
}

.priority-low {
background: rgb(2,0,36);
background: linear-gradient(86deg, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 0%, rgba(218,249,222,1) 80%, rgba(50,255,122,1) 100%);
}

.priority-info {
  background: rgb(2,0,36);
background: linear-gradient(86deg, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 0%, rgba(218,243,249,1) 80%, rgba(101,226,255,1) 100%);
}

.collapsible-header {
  display: block;
  font-weight: 700;
  border-radius: 3px;
  border: 1px solid;
  margin: 10px auto;
  padding-top: 10px;
  padding-bottom: 0px;
}

.collapsible-body {
  background-color: #ffffff;
}

.input-box {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 5px;
}

.dropdown-content li > span {
  color: blue;
}
