@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

body {
  font-family: "Kumbh Sans", sans-serif;
  position: relative;
  height: 100vh;
  font-size: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url("/static/images/bg2.jpg"); 
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main {
  flex: 1 0 auto;
}

.bold {
  font-weight: 700;
}

/* stops text overflow and creates ellipses - primarily used on call subject */
.text-overflow {
  white-space: nowrap;
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* end_user and admin_user cards */
.card {
  border-radius: 3px;
  border: 1px solid black;
}

.login-card {
  margin-top: 5rem;
}

/* credential error flash message */
.error {
  color: red;
}

.nav-wrapper,
.menu-dropdown,
.sidenav,
.sidenav .collapsible-body {
  background-color: #3c3c3c;
}

/* navbar menu dropdowns */

.dropdown-content li > a,
.sidenav li > a,
.sidenav li > a > i.material-icons {
  color: rgb(211, 211, 211);
}

.dropdown-content li > a:hover,
.sidenav li > a:hover {
  color: #0068df;
}

.nav-wrapper .menu-dropdown {
  position: inherit;
}

/* input box dropdowns */

.dropdown-content li > span {
  color: rgb(89, 94, 119);
}

.brand-logo {
  margin-top: 7px;
  margin-left: 8px;
}

/* gradients for call priority colours */

.priority-high {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(209, 145, 143, 1) 0%,
    rgba(255, 255, 255, 1) 30%,
    rgba(255, 255, 255, 1) 80%,
    rgba(209, 145, 143, 1) 100%
  );
}

.priority-med {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(141, 194, 188, 1) 0%,
    rgba(255, 255, 255, 1) 30%,
    rgba(255, 255, 255, 1) 80%,
    rgba(141, 194, 188, 1) 100%
  );
}

.priority-low {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(147, 217, 173, 1) 0%,
    rgba(255, 255, 255, 1) 30%,
    rgba(255, 255, 255, 1) 80%,
    rgba(147, 217, 173, 1) 100%
  );
}

.priority-info {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(151, 207, 140, 1) 0%,
    rgba(255, 255, 255, 1) 30%,
    rgba(255, 255, 255, 1) 80%,
    rgba(151, 207, 140, 1) 100%
  );
}

.closed-ticket {
    background: rgb(187, 187, 187) 
}

.collapsible-header {
  display: block;
  border-radius: 3px;
  border: 1px solid;
  margin: 10px auto;
  padding-top: 10px;
  padding-bottom: 0px;
}

.header-row {
    margin-bottom: 7px;
}

.collapsible-body {
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 3px;
  padding-bottom: 0;
}

/* full ticket view main ticket info */
.full-body-row {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 3px;
  border: 1px solid;
  padding-bottom: 0;
}

/* ticket updates in full ticket view */
.update-row {
  background-color: #ffffff;
  border-radius: 3px;
  border: 1px solid;
  padding: 20px 20px 0 20px;
}

/* call subject and call details container */
.c-body-details {
  word-wrap: break-word;
}

/* call information list on right side of ticket */
.c-body-info {
  border: 1px solid black;
  border-radius: 5px;
  background-color: #93c0d9;
}

.c-body-info p {
  margin: 5px;
}

.call-edit-btn {
  margin-bottom: 12px;
  margin-left: 5px;
}

.full-ticket-button-col {
  margin-top: 15px;
}

/* all input boxes */
.input-box {
  background-color: #ffffff;
  padding: 5px;
  margin-top: 14px;
  margin-bottom: 0px;
  border: 1px solid;
  border-radius: 3px;
}

.select-wrapper input.select-dropdown {
  margin-bottom: 2px;
  text-align: left;
}

/* buttons for ticket views */
.view-button {
      display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
}

.btn {
  background-color: #0068df;
  border-radius: 100px;

}

.btn:hover {
  background-color: #01346e;
}

.btn:focus {
  background-color: #01346e;
}

.eu-card-title {
  font-size: 2rem;
}

.center-buttons,
.modal .modal-footer {
  text-align: center;
}

/* page titles */
.center-title {
    color: #fff;
  text-align: center;
  text-shadow: -1px -1px 0 rgb(8, 8, 8), 1px -1px 0 rgb(12, 12, 12),
    -1px 1px 0 rgb(19, 18, 18), 1px 1px 0 rgb(14, 13, 13);
}

.page-footer {
  padding-top: 0px;
  background-color: #3c3c3c;
}

.error-row {
    display: inline;
    margin: 0px;
	padding:0px;
	position:absolute;
	top: 50%;
	transform: translateY(-50%) translateX(-50%);
	left:50%;
}

/* media queries */

@media only screen and (max-width: 600px) {
  .brand-logo > img{
          height: 45px;
  }

  .view-button {
      margin-top: 10px;
      

  }
}