<form action="{{ url_for('new_comment') }}" method="POST">
<input type="hidden" value="{{ ticket._id }}" name="ticket_id"/>
  <div class="row">
      <div class="col s12">
        <div class="input-field input-box">
          <textarea
            id="add_comment"
            name="add_comment"
            class="materialize-textarea validate"
            required=""
            aria-required="true"
          >add_ comment text area</textarea
          >
          <label for="call_details">Call Details</label>
        </div>
      </div>
    </div>
    <div class="row">
    <a
      class="waves-effect waves-light btn call-edit-btn"
      href="{{ url_for('new_comment') }}"
      type="submit"
      name="action"
      >Save</a
    >
</div>
</form>


