{% extends 'base.html' %} {% block content %}
<h3>Add Ticket</h3>
<div class="row">
  <form action="" method="POST" class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input id="call_subject" name="call_subject" type="text" />
        <label for="call_subject">Call Subject</label>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="call_details" name="call_details" class="materialize-textarea"></textarea>
          <label for="call_details">Call Details</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
    <select id="call_type" name="call_type">
      <option value="" disabled selected>Choose call type</option>
      {% for type in call_types %}
      <option value="{{type.call_type}}">{{type.call_type}}</option>
      {% endfor %}
    </select>
    <label>Call type</label>
  </div>
    </div>
  </form>
</div>

{% endblock %}
