{% extends 'base.html' %}

{% block content %}

  <div class="row">
  {% for end_user in end_users %}
    <div class="col s4">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">{{end_user.end_user}}</span>
            <p>Tel: {{end_user.tel_no}}</p>
            <p>email: {{end_user.eu_email}}</p>
            <p>dept: {{end_user.eu_department}}</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  


{% endblock %}

