{% extends 'base.html' %} {% block content %}

<h3 class="center-title">Ticket #{{ticket._ticketid}}</h3>
<div class="row center-align">
  <div class="col s12 m3">
    <a class="waves-effect waves-light btn" href="/add_ticket">Add ticket</a>
  </div>
  <div class="col s12 m3">
    <a class="waves-effect waves-light btn" href="/open_tickets"
      >Open tickets</a
    >
  </div>
  <div class="col s12 m3">
    <a class="waves-effect waves-light btn" href="/held_tickets"
      >Tickets on hold</a
    >
  </div>
  <div class="col s12 m3">
    <a class="waves-effect waves-light btn" href="/get_tickets">All tickets</a>
  </div>
</div>
<div hidden>{{ticket._id}}</div>
<div class="row full-body-row">
  <div class="col s12 m8 c-body-details">
    <p class="bold">{{ticket.call_subject}}</p>
    <span>{{ticket.call_details}}</span>
  </div>
  <div class="col s12 m4 right c-body-info">
    <p><span class="bold">Created:</span> {{ticket.date_posted}}</p>
    <p><span class="bold">Created by:</span> {{ticket.admin_username}}</p>
    <p><span class="bold">Priority:</span> {{ticket.call_priority}}</p>
    <p><span class="bold">Status:</span> {{ticket.call_status}}</p>
    <p><span class="bold">Call type:</span> {{ticket.call_type}}</p>
    <p><span class="bold">End user:</span> {{ticket.end_user}}</p>
    <p>
      <span class="bold">Email:</span
      ><a href="mailto:{{ticket.eu_email}}"> {{ticket.eu_email}}</a>
    </p>
    <a
      class="waves-effect waves-light btn call-edit-btn"
      href="{{ url_for('edit_ticket', ticket_id=ticket._id) }}"
      >Edit</a
    >
  </div>

  <div class="col s12 center-align full-ticket-button-col">
    <button class="waves-effect waves-light btn quick-comment">
      New Update
    </button>
  </div>
</div>

{% include 'add_quick_update.html' %} {% for update in updates %}
<div class="row update-row">
  <div class="col s12">
    <span class="bold"
      >{{update.admin_username}} updated {{update.date_posted}}:</span
    >
    <p>{{update.add_update}}</p>
    <div class="row">
      <div class="col s12 center-buttons">
        <a data-target="modal1" class="btn modal-trigger">Delete</a>
      </div>
    </div>
  </div>
</div>

<div id="modal1" class="modal">
  <div class="modal-content">
    <h4 class="center-buttons">Are you sure?</h4>
  </div>
  <div class="modal-footer center-buttons">
    <a
      href="{{ url_for('delete_update', update_id=update._id) }}"
      class="modal-close waves-effect waves-light btn"
      >Delete</a
    >
    <a href="#!" class="modal-close waves-effect waves-light btn">Cancel</a>
  </div>
</div>

{% endfor %} {% endblock %}
