<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />
    
</head>

<body>
<!-- <div class="bg-img"><div> -->
    <header>
         <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo left"><img src="{{ url_for('static', filename='/images/logo.png') }}"></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
    <li><a href="{{ url_for('add_ticket') }}">add ticket</a></li>
    <li><a href="{{ url_for('add_end_user') }}">add end user</a></li>
    <li><a href="{{ url_for('get_users') }}">end users</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="add_ticket.html">add ticket</a></li>
    <li><a href="add end user.html">add end user</a></li>
  </ul>
    </header>
    
    <div class="container">
    
     <div class="row">
  <form class="col s12" action="" method="POST">
    <div class="row">
      <div class="col s6">
        <div class="input-field input-box">
          <i class="material-icons prefix">account_circle</i>
          <input id="admin_username" name="admin_username" type="text" class="validate" value="{{request.form.admin_username}}" />
          <label for="icon_prefix">Name</label>
        </div>
      </div>
      <div class="col s6">
        <div class="input-field input-box">
          <i class="material-icons prefix">phone</i>
          <input id="admin_password" name="admin_password" type="password" class="validate" value="{{request.form.admin_password}}"/>
          <label for="icon_telephone">Telephone</label>
        </div>
      </div>
    </div>
    <div class="row">
      <button class="btn waves-effect waves-light" type="submit" name="action">
        Login
        <i class="material-icons right">send</i>
      </button>
    </div>
  </form>
  {% if error %}
  <p class="error"> error: {{error}}</p>
  {% endif %}
</div>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>

</html>