{% extends 'base.html' %} {% block content %}

<h3 class="center-title">Open Tickets</h3>
<div class="row center-align">
  <div class="col s12 m3">
    <a class="waves-effect waves-light btn view-button" href="/add_ticket">Add ticket</a>
  </div>
  <div class="col s12 m3">
    <a class="waves-effect waves-light btn view-button" href="/get_tickets">All tickets</a>
  </div>
  <div class="col s12 m3">
    <a class="waves-effect waves-light btn view-button" href="/held_tickets"
      >All held</a
    >
  </div>
  <div class="col s12 m3">
    <a class="waves-effect waves-light btn view-button" href="/closed_tickets"
      >All closed</a
    >
  </div>
</div>
<ul class="collapsible popout">
  {% for ticket in tickets %}
  <li>
    <div hidden>{{ticket._id}}</div>
    <div class="collapsible-header hoverable">
      <div class="row">
        <div class="col s12 m1">
          <span class="bold">#{{ticket._ticketid}}</span>
        </div>
        <div class="col s12 m7 text-overflow">
          <span>{{ticket.call_subject}}</span>
        </div>
        <div class="col s12 m4">
          <span class="bold">Status:</span> {{ticket.call_status}}<br>
          <span class="bold">Priority:</span> {{ticket.call_priority}}<br>
          <span class="bold">Created:</span> {{ticket.date_posted}}<br>
        </div>
      </div>
    </div>
    <div class="collapsible-body">
      <div class="row">
        <div class="col s12 m8 c-body-details">
          <span>{{ticket.call_details}}</span>
        </div>
        <div class="col s12 m4 right c-body-info">
          <p><span class="bold">Created by:</span> {{ticket.admin_username}}</p>
          <p><span class="bold">Call type:</span> {{ticket.call_type}}</p>
          <p><span class="bold">End user:</span> {{ticket.end_user}}</p>
          <p>
            <span class="bold">Email:</span
            ><a href="mailto:{{ticket.eu_email}}"> {{ticket.eu_email}}</a>
          </p>
          <p><span class="bold">Tel no:</span> {{ticket.tel_no}}</p>
          <a
            class="waves-effect waves-light btn call-edit-btn view-button"
            href="{{ url_for('edit_ticket', ticket_id=ticket._id) }}"
            >Edit</a
          >
        </div>
      </div>
      <div class="row">
        <div class="col s12 m4">
          <a
            class="waves-effect waves-light btn view-button"
            href="{{ url_for('ticket_full_detail', ticket_id=ticket._id) }}"
            >All updates</a
          >
        </div>
        <div class="col s12 m4">
          <a class="waves-effect waves-light btn quick-comment view-button">
            Quick comment
          </a>
        </div>
        <div class="col s12 m4">
          <a data-target="modal1" class="waves-effect waves-light btn view-button modal-trigger">Close</a>
        </div>
      </div>
      {% include 'add_quick_update.html' %}
    </div>
    <!-- Modal Structure -->
        <div id="modal1" class="modal">
          <div class="modal-content">
            <h4>Are you sure?</h4>
          </div>
          <div class="modal-footer center-buttons">
            <a
              href="{{ url_for('close_ticket', ticket_id=ticket._id) }}"
              class="modal-close waves-effect waves-light btn"
              >Close</a
            >
            <a href="#" class="modal-close waves-effect waves-light btn"
              >Cancel</a
            >
          </div>
        </div>
  </li>
  {% endfor %}
</ul>

{% endblock %}
