{% extends 'base.html' %}

{% block content %}

  <ul class="collapsible popout">
  {% for ticket in tickets %}
    <li>
    <div class="row">
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>{{ticket.call_subject}}</div>
    </div>
      <div class="collapsible-body"><span>{{ticket.call_details}}</span>
      <div class="row">
        <span>Raised by:{{ticket.end_user}}</span>
      </div>
    </li>
    {% endfor %}
  </ul>
  <a class="waves-effect waves-light btn" href="/add_ticket">Add ticket</a>

{% endblock %}