{% extends 'base.html' %}

{% block content %}
<h3>All Tickets</h3>
<div class="row center-align">
<div class="col s3">
<a class="waves-effect waves-light btn" href="/add_ticket">Add ticket</a>
</div>
<div class="col s3">
<a class="waves-effect waves-light btn" href="/open_tickets">Open tickets</a>
</div>
<div class="col s3">
<a class="waves-effect waves-light btn" href="/held_tickets">Tickets on hold</a>
</div>
<div class="col s3">
<a class="waves-effect waves-light btn" href="/closed_tickets">Closed tickets</a>
</div>
</div>
  <ul class="collapsible popout">
  {% for ticket in tickets %}
    <li>
      <div class="collapsible-header">
      <div class="row">
      <div class="collapsible-ticketno col s2">
      <span>#{{ticket._ticketid}} | </span>
      </div>
      <div class="collapsible-subject col s8">
      <span>{{ticket.call_subject}}</span>
      </div>
      <div class="collapsible-priority col s2">
      <span> | {{ticket.call_priority}}</span>
      </div>
      </div>
      </div>
      <div class="collapsible-body">
      <div class="row">
      <div class="col s8 c-body-details">
      <span>{{ticket.call_details}}</span>
      </div>
      <div class="col s4 right c-body-info">
        <p>{{ticket.date_posted}}</p>
        <p>Raised by: {{ticket.end_user}}</p>
        <p>Priority: {{ticket.call_priority}}</p>
        <p>Status: {{ticket.call_status}}</p>
        <p>Call type: {{ticket.call_type}}</p>
        <p>Email: {{ticket.eu_email}}</p>
        <a class="waves-effect waves-light btn" href="{{ url_for('edit_ticket', ticket_id=ticket._id) }}">Edit</a>
      </div>
      </div>
      <div class="row">
      <div class="col s3">
        <a class="waves-effect waves-light btn" href="{{ url_for('edit_ticket', ticket_id=ticket._id) }}">Edit</a>
      </div>
      <div class="col s3">
        <a class="waves-effect waves-light btn" href="">Close</a>
      </div>
      <div class="col s3">
      <a class="waves-effect waves-light btn" href="/add_comment">Add comment</a>
      </div>
      </div>
      </div>
    </li>
    {% endfor %}
  </ul>

{% endblock %}